<html>

<head>
    <title>
        Send {{g_network_type}}
    </title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <style>
        #narbar a {
            margin-right: 20px;
        }
    </style>

    <script>

        document.addEventListener("DOMContentLoaded", () => {
            window.gUtxos = {}
            window.gTotalUtxosValue = 0
            window.gSendPayload = {}
            // < input id = "amountInput" type = "text" /> <button id="sendBtn">Send</button>

            const showError= document.querySelector("#error");
            const showSuccess = document.querySelector("#success");
            const amountInput = document.querySelector("#amountInput");
            const destinationInput = document.querySelector("#destinationInput");
            const sendBtn = document.querySelector("#sendBtn");
            const confirmBtn = document.querySelector("#confirmBtn");

            sendBtn.addEventListener("click", () => {
                showError.innerHTML = "";
                showSuccess.innerHTML = "";
                if (amountInput.value === "") {
                    showError.innerHTML = "Please specify amount that you want to send.";
                    return;
                }

                if (isNaN(amountInput.value)) {
                    showError.innerHTML = "Invalid value to send.";
                    return;
                }

                const valueSend = parseInt(amountInput.value)
                if (gTotalUtxosValue < valueSend) {
                    showError.innerHTML = "Insufficient fund to send.";
                    return;
                }

                if (destinationInput.value === "") {
                    showError.innerHTML = "Must specify Destination.";
                    return;
                }

                feeEstimates = {
                    utxos: Object.values(gUtxos),
                    destination: destinationInput.value
                }
                fetch("/api/v1/wallet/{{wallet_id}}/fee_estimates", {
                    method: 'POST',
                    credentials: "same-origin",
                    body: JSON.stringify(feeEstimates)
                }).then((response) => {
                    return response.json();
                }).then(payload => {
                    if (payload["error"]) {
                        throw payload["error"]
                    }
                    // TXID is " + payload["txid"] + " with fee " + payload["fee"]
                    showSuccess.innerHTML = `Please confirm: Send <b>${valueSend}</b> Satoshi to <b>${destinationInput.value}</b> with <b>${payload["fee"]}</b> fee.` 
                    window.gSendPayload =  {
                        utxos: Object.values(gUtxos),
                        value: valueSend,
                        destination: destinationInput.value,
                        fee: payload["fee"]
                    }
                    sendBtn.classList.add("hide")
                    confirmBtn.classList.remove("hide")
                }).catch(errorMessage => {
                    error.innerHTML = errorMessage;
                });
            })

            confirmBtn.addEventListener("click", () => {
                fetch("/api/v1/wallet/{{wallet_id}}/send", {
                    method: 'POST',
                    credentials: "same-origin",
                    body: JSON.stringify(window.gSendPayload)
                }).then((response) => {
                    return response.json();
                }).then(payload => {
                    if (payload["error"]) {
                        throw payload["error"]
                    }
                    showSuccess.innerHTML = "Sent: TXID is " + payload["txid"]
                    confirmBtn.classList.add("hide")
                }).catch(errorMessage => {
                    error.innerHTML = errorMessage;
                });
            });

            const utxoSelectors = document.querySelectorAll(".utxoSelector");
            utxoSelectors.forEach((utxoSelector) => {
                utxoSelector.addEventListener('change', function () {
                    const txid = utxoSelector.dataset.txid;
                    const vout = utxoSelector.dataset.vout;
                    const value = parseInt(utxoSelector.dataset.value);
                    if (this.checked) {
                        gUtxos[txid + ":" + vout] = { txid, vout, value }
                        gTotalUtxosValue += value;
                    } else {
                        delete gUtxos[txid + ":" + vout];
                        gTotalUtxosValue -= value;
                    }
                })
            })
        });

    </script>
</head>

<body>
    <h2 id="narbar"><a href="/viewwallet/{{wallet_id}}">Wallet</a></h2>
    <h2>Send</h2>
    <p>Wallet ID: {{wallet.wallet_id}}</p>
    <p>Wallet Label: {{wallet.label}}</p>
    <p>Balance: {{wallet.formatted_balance}}</p>

    <p><label> Amount: <input id="amountInput" type="text" /> </label></p>
    <p><label> Destination: <input id="destinationInput" type="text" size="50"/></label></p>
    <button id="sendBtn">Send</button>
    <button id="confirmBtn" class="hide">Confirm</button>

    <h4 id="error" style="color:firebrick"></h4>
    <h4 id="success" style="color:green"></h4>
    <table>
        <tr>
            <th>Address</th>
            <th>Transaction ID</th>
            <th>Vout</th>
            <th>Value</th>
            <th>Sent</th>
            <th></th>
        </tr>

        {% for unspent_output in wallet.unspent_outputs: %}
        <tr>
            <td><a href="{{g_explorer}}/address/{{unspent_output.bitcoin_address}}" target="_blank">{{unspent_output.omitted_bitcoin_address}}</a></td>
            <td><a href="{{g_explorer}}/tx/{{unspent_output.txid}}" target="_blank">{{unspent_output.omitted_txid}}</a></td>
            <td>{{unspent_output.vout}}</td>
            <td>{{unspent_output.formatted_value}}</td>
            <td>{{unspent_output.sent}}</td>
            <td><input class="utxoSelector" type="checkbox" data-txid="{{unspent_output.txid}}" data-vout="{{unspent_output.vout}}" data-value="{{unspent_output.value}}" ></td>
        </tr>
        {% endfor %}

        <br />
        <br />

    </table>
</body>

</html>