<html>

<head>
    <title>
        Send {{g_network_type}}
    </title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <style>
        #narbar a {
            margin-right: 20px;
        }
    </style>

    <script>

        document.addEventListener("DOMContentLoaded", () => {
            window.gUtxos = {}
            window.gTotalUtxosValue = 0
            // < input id = "amountInput" type = "text" /> <button id="sendBtn">Send</button>

            const showError= document.querySelector("#error");
            const showSuccess = document.querySelector("#success");
            const amountInput = document.querySelector("#amountInput");
            const destinationInput = document.querySelector("#destinationInput");
            const sendBtn = document.querySelector("#sendBtn");

            sendBtn.addEventListener("click", () => {
                showError.innerHTML = "";
                showSuccess.innerHTML = "";
                if (amountInput.value === "") {
                    showError.innerHTML = "Please specify amount that you want to send.";
                    return;
                }

                if (isNaN(amountInput.value)) {
                    showError.innerHTML = "Invalid value to send.";
                    return;
                }

                const valueSend = parseInt(amountInput.value)
                if (gTotalUtxosValue < valueSend) {
                    showError.innerHTML = "Insufficient fund to send.";
                    return;
                }

                if (destinationInput.value === "") {
                    showError.innerHTML = "Must specify Destination.";
                    return;
                }

                const sendRequest = {
                    utxos: Object.values(gUtxos),
                    value: valueSend,
                    destination: destinationInput.value
                }
                fetch("/api/v1/wallet/{{wallet_id}}/send", {
                    method: 'POST',
                    body: JSON.stringify(sendRequest)
                }).then((response) => {
                    return response.json();
                }).then(payload => {
                    if (payload["error"]) {
                        throw payload["error"]
                    }
                    showSuccess.innerHTML = "Sent. TXID is " + payload["txid"]
                    sendBtn.classList.add("hide")
                }).catch(errorMessage => {
                    error.innerHTML = errorMessage;
                });
            })

            const utxoSelectors = document.querySelectorAll(".utxoSelector");
            utxoSelectors.forEach((utxoSelector) => {
                utxoSelector.addEventListener('change', function () {
                    const txid = utxoSelector.dataset.txid;
                    const vout = utxoSelector.dataset.vout;
                    const value = utxoSelector.dataset.value;
                    if (this.checked) {
                        gUtxos[txid + ":" + vout] = { txid, vout, value }
                        gTotalUtxosValue += value;
                    } else {
                        delete gUtxos[txid + ":" + vout];
                        gTotalUtxosValue -= value;
                    }
                })
            })

        });

        // // doc: https://developer.mozilla.org/en-US/docs/Web/API/Document/visibilityState
        // document.addEventListener("visibilitychange", function () {
        //     if (document.visibilityState === "visible") {
        //         setupRequestSync();
        //     } else if (document.visibilityState === "hidden") {
        //         removeRequestSync();
        //     } else {
        //         console.log("Unhandled visibilityState: " + document.visibilityState);
        //     }
        // });

        // document.addEventListener("DOMContentLoaded", () => {
        //     let error = document.querySelector("#error");
        //     let success = document.querySelector("#success");
        //     setupRequestSync();

        //     // 0-balance address button
        //     const url = new URL(window.location);
        //     let showZeroBalance = document.querySelector("#show-zero-balance");
        //     if (url.searchParams.get("show_zero_balance") === "1") {
        //         showZeroBalance.innerHTML = "Hide 0-balance Addresses"
        //         showZeroBalance.addEventListener("click", () => {
        //             let search_params = new URLSearchParams(url.search);
        //             search_params.set("show_zero_balance", "0")
        //             url.search = search_params.toString();
        //             window.location = url.toString()
        //         });
        //     } else {
        //         showZeroBalance.innerHTML = "Show 0-balance Addresses"
        //         showZeroBalance.addEventListener("click", () => {
        //             let search_params = new URLSearchParams(url.search);
        //             search_params.set("show_zero_balance", "1")
        //             url.search = search_params.toString();
        //             window.location = url.toString()
        //         });
        //     }
        // });

    </script>
</head>

<body>
    <h2 id="narbar"><a href="/viewwallet/{{wallet_id}}">Wallet</a></h2>
    <h2>Send</h2>
    <p>Wallet ID: {{wallet.wallet_id}}</p>
    <p>Wallet Label: {{wallet.label}}</p>
    <p>Balance: {{wallet.formatted_balance}}</p>

    <p><label> Amount: <input id="amountInput" type="text" /> </label></p>
    <p><label> Destination: <input id="destinationInput" type="text" size="50"/></label></p>
    <button id="sendBtn">Send</button>

    <h4 id="error" style="color:firebrick"></h4>
    <h4 id="success" style="color:green"></h4>
    <table>
        <tr>
            <th>Address</th>
            <th>Transaction ID</th>
            <th>Vout</th>
            <th>Value</th>
            <th></th>
        </tr>

        {% for unspent_output in wallet.unspent_outputs: %}
        <tr>
            <td><a href="{{g_explorer}}/address/{{unspent_output.bitcoin_address}}" target="_blank">{{unspent_output.omitted_bitcoin_address}}</a></td>
            <td><a href="{{g_explorer}}/tx/{{unspent_output.txid}}" target="_blank">{{unspent_output.omitted_txid}}</a></td>
            <td>{{unspent_output.vout}}</td>
            <td>{{unspent_output.value}}</td>
            <td><input class="utxoSelector" type="checkbox" data-txid="{{unspent_output.txid}}" data-vout="{{unspent_output.vout}}" data-value="{{unspent_output.value}}" ></td>
        </tr>
        {% endfor %}

    </table>
</body>

</html>