<html>

<head>
    <title>
        Send {{g_network_type}}
    </title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <style>
        #narbar a {
            margin-right: 20px;
        }
    </style>

    <script>

        document.addEventListener("DOMContentLoaded", () => {
            window.gUtxos = {}
            window.gTotalUtxosValue = 0
            window.gSendPayload = {}

            const showError= document.querySelector("#error");
            const showSuccess = document.querySelector("#success");
            const amountInput = document.querySelector("#amountInput");
            const destinationInput = document.querySelector("#destinationInput");
            const feeCustomInput = document.querySelector("#feeCustomInput");
            const estimateBtn = document.querySelector("#estimateBtn");
            const nextBtn = document.querySelector("#nextBtn");
            const sendBtn = document.querySelector("#sendBtn");
            const feeSelection = document.querySelector("#feeSelection");

            estimateBtn.addEventListener("click", () => {
                showError.innerHTML = "";
                showSuccess.innerHTML = "";
                if (amountInput.value === "") {
                    showError.innerHTML = "Please specify amount that you want to send.";
                    return;
                }

                if (isNaN(amountInput.value)) {
                    showError.innerHTML = "Invalid value to send.";
                    return;
                }

                const valueSend = parseInt(amountInput.value)
                if (gTotalUtxosValue < valueSend) {
                    showError.innerHTML = "Insufficient fund to send.";
                    return;
                }

                if (destinationInput.value === "") {
                    showError.innerHTML = "Must specify Destination.";
                    return;
                }

                feeEstimates = {
                    utxos: Object.values(gUtxos),
                    destination: destinationInput.value
                }
                fetch("/api/v1/wallet/{{wallet_id}}/fee_estimates", {
                    method: 'POST',
                    credentials: "same-origin",
                    body: JSON.stringify(feeEstimates)
                }).then((response) => {
                    return response.json();
                }).then(payload => {
                    if (payload["error"]) {
                        throw payload["error"]
                    }

                    const fee_per_target = payload["fee_per_target"];
                    if (!fee_per_target[1] ||  !fee_per_target[6] || !fee_per_target[144]) {
                        throw "Unable to estimate fee?";
                    }

                    // Show the fee selection div
                    const labelBlock1 = document.querySelector("#labelBlock1");
                    const labelBlock6 = document.querySelector("#labelBlock6");
                    const labelBlock144 = document.querySelector("#labelBlock144");
                    const feeBlock1 = document.querySelector("#feeBlock1");
                    const feeBlock6 = document.querySelector("#feeBlock6");
                    const feeBlock144 = document.querySelector("#feeBlock144");                    

                    labelBlock1.innerHTML = fee_per_target[1];
                    labelBlock6.innerHTML = fee_per_target[6];
                    labelBlock144.innerHTML = fee_per_target[144];
                    feeBlock1.setAttribute("value", fee_per_target[1]);
                    feeBlock6.setAttribute("value", fee_per_target[6]);
                    feeBlock144.setAttribute("value", fee_per_target[144]);

                    // Prevent modifying the amount or destination.
                    amountInput.setAttribute("disabled", 1);
                    destinationInput.setAttribute("disabled", 1);
                    utxoSelectors.forEach((utxoSelector) => {
                        utxoSelector.setAttribute("disabled", 1);
                    });

                    // Save the entered data.
                    gSendPayload = {
                        utxos: Object.values(gUtxos),
                        value: valueSend,
                        destination: destinationInput.value,
                    }

                    showSuccess.innerHTML = "Please select a fee, or enter a custom amount."
                    
                    estimateBtn.classList.add("hide");
                    feeSelection.classList.remove("hide");
                    nextBtn.classList.remove("hide");
                }).catch(errorMessage => {
                    error.innerHTML = errorMessage;
                });
            })

            nextBtn.addEventListener("click", () => {
                showError.innerHTML = "";
                showSuccess.innerHTML = "";
                try {
                    // Retrieve fee
                    let feeAmount = undefined;
                    const feeRadios = document.querySelectorAll(".feeRadio");
                    feeRadios.forEach((feeRadio) => {
                        if (feeRadio.checked) {
                            feeAmount = feeRadio.value;
                        }
                    });

                    if (feeCustomInput.value) {
                        feeAmount = feeCustomInput.value;
                    }

                    feeAmount = parseInt(feeAmount);
                    if (!feeAmount) {
                        throw "Please enter a valid fee";
                    }
                    
                    gSendPayload["fee"] = feeAmount;
                    
                    showSuccess.innerHTML = `
                        Please confirm: 
                        Send <b>${gSendPayload.value}</b> Satoshi 
                        to <b>${gSendPayload.destination}</b> 
                        with <b>${feeAmount}</b> fee.
                    `;
                    
                    nextBtn.classList.add("hide")
                    sendBtn.classList.remove("hide")
                } catch (errorMessage) {
                    error.innerHTML = errorMessage;

                }
            })

            sendBtn.addEventListener("click", () => {
                fetch("/api/v1/wallet/{{wallet_id}}/send", {
                    method: 'POST',
                    credentials: "same-origin",
                    body: JSON.stringify(window.gSendPayload)
                }).then((response) => {
                    return response.json();
                }).then(payload => {
                    if (payload["error"]) {
                        throw payload["error"]
                    }
                    showSuccess.innerHTML = "Sent: TXID is " + payload["txid"]
                    sendBtn.classList.add("hide")
                }).catch(errorMessage => {
                    error.innerHTML = errorMessage;
                });
            });

            const utxoSelectors = document.querySelectorAll(".utxoSelector");
            utxoSelectors.forEach((utxoSelector) => {
                utxoSelector.addEventListener('change', function () {
                    const txid = utxoSelector.dataset.txid;
                    const vout = utxoSelector.dataset.vout;
                    const value = parseInt(utxoSelector.dataset.value);
                    if (this.checked) {
                        gUtxos[txid + ":" + vout] = { txid, vout, value }
                        gTotalUtxosValue += value;
                    } else {
                        delete gUtxos[txid + ":" + vout];
                        gTotalUtxosValue -= value;
                    }
                })
            })
        });

    </script>
</head>

<body>
    <h2 id="narbar"><a href="/viewwallet/{{wallet_id}}">Wallet</a></h2>
    <h2>Send</h2>
    <p>Wallet ID: {{wallet.wallet_id}}</p>
    <p>Wallet Label: {{wallet.label}}</p>
    <p>Balance: {{wallet.formatted_balance}}</p>

    <p><label> Amount: <input id="amountInput" type="text" /> </label></p>
    <p><label> Destination: <input id="destinationInput" type="text" size="50"/></label></p>

    <div class="hide" id="feeSelection">
        <p>Select fee:</p>
        <div>
            <input class="feeRadio" type="radio" id="feeBlock1" name="fee" value="1" checked>
            <label id="labelBlock1"></label> (10 minutes)
        </div>
        
        <div>
            <input class="feeRadio" type="radio" id="feeBlock6" name="fee" value="6">
            <label id="labelBlock6"></label> (1 hour)
        </div>
        <div>
            <input class="feeRadio" type="radio" id="feeBlock144" name="fee" value="144">
            <label id="labelBlock144"></label> (1 day)
        </div>

        <p><label> Custom Amount: <input id="feeCustomInput" type="text" /> </label></p>
    </div>

    <button id="estimateBtn">Estimate Fee</button>
    <button id="nextBtn" class="hide">Next</button>
    <button id="sendBtn" class="hide">Send</button>

    <h4 id="error" style="color:firebrick"></h4>
    <h4 id="success" style="color:green"></h4>
    <table>
        <tr>
            <th>Address</th>
            <th>Transaction ID</th>
            <th>Vout</th>
            <th>Value</th>
            <th>Sent</th>
            <th></th>
        </tr>

        {% for unspent_output in wallet.unspent_outputs: %}
        <tr>
            <td><a href="{{g_explorer}}/address/{{unspent_output.bitcoin_address}}" target="_blank">{{unspent_output.omitted_bitcoin_address}}</a></td>
            <td><a href="{{g_explorer}}/tx/{{unspent_output.txid}}" target="_blank">{{unspent_output.omitted_txid}}</a></td>
            <td>{{unspent_output.vout}}</td>
            <td>{{unspent_output.formatted_value}}</td>
            <td>{{unspent_output.sent}}</td>
            <td><input class="utxoSelector" type="checkbox" data-txid="{{unspent_output.txid}}" data-vout="{{unspent_output.vout}}" data-value="{{unspent_output.value}}" ></td>
        </tr>
        {% endfor %}

        <br />
        <br />

    </table>
</body>

</html>