<html>

<head>
    <title>
        View Wallet {{g_network_type}}
    </title>
    <link rel="stylesheet" href="/css/reset.css"/>
    <style>
        #narbar a {
            margin-right: 20px;
        }
    </style>
</head>

<body>
    <h2 id="narbar"><a href="/">Home</a> <a href="/send">Send</a> <a href="/viewwallet/{{wallet_id}}/receive">Receive</a></h2>
    <h2>Wallet Overview</h2>
    <p>Wallet ID: {{wallet.wallet_id}}</p>
    <p>Wallet Label: {{wallet.label}}</p>
    <p>Balance: {{wallet.formatted_balance}}</p>

    <table>
        <tr>
            <th>Address</th>
            <th>Balance</th>
            <th>IsChange?</th>
        </tr>
    
        {% for address in wallet.addresses: %}
        <tr>
            <td><a href="{{g_explorer}}/address/{{address.bitcoin_address}}" target="_blank">{{address.bitcoin_address}}</a></td>
            <td>{{address.formatted_value}}</td>
            <td>{{address.is_change}}</td>
        </tr>
        {% endfor %}

    </table>
</body>

</html>