<html>

<head>
    <title>
        View Wallet {{g_network_type}}
    </title>
    <link rel="stylesheet" href="/css/reset.css"/>
    <style>
        #narbar a {
            margin-right: 20px;
        }
    </style>

    <script>
        gRequestSyncInternvalId = 0;
        function setupRequestSync() {
            if (gRequestSyncInternvalId === 0) {
                gRequestSyncInternvalId = setInterval(() => {
                    fetch(`/api/v1/wallet/{{wallet_id}}/request_sync`, {
                        method: 'POST',
                        credentials: "same-origin"
                    }).then((response) => {
                        if (response.status != 200) {
                            throw "Request for syncing wallet fails"
                        }
                    }).catch(errorMessage => {
                        console.log(errorMessage);
                    });
                }, 5 * 1000);
            }
        }
        function removeRequestSync() {
            clearInterval(gRequestSyncInternvalId);
            gRequestSyncInternvalId = 0;
        }

        // doc: https://developer.mozilla.org/en-US/docs/Web/API/Document/visibilityState
        document.addEventListener("visibilitychange", function () {
            if (document.visibilityState === "visible") {
                setupRequestSync();
            } else if (document.visibilityState === "hidden") {
                removeRequestSync();
            } else {
                console.log("Unhandled visibilityState: " + document.visibilityState  );
            }
        });

        document.addEventListener("DOMContentLoaded", () => {
            let error = document.querySelector("#error");
            let success = document.querySelector("#success");
            setupRequestSync();

            // 0-balance address button
            const url = new URL(window.location);
            let showZeroBalance = document.querySelector("#show-zero-balance");
            if (url.searchParams.get("show_zero_balance") === "1") {
                showZeroBalance.innerHTML = "Hide 0-balance Addresses"
                showZeroBalance.addEventListener("click", () => {
                    let search_params = new URLSearchParams(url.search);
                    search_params.set("show_zero_balance", "0")
                    url.search = search_params.toString();
                    window.location = url.toString()
                });
            } else {
                showZeroBalance.innerHTML = "Show 0-balance Addresses"
                showZeroBalance.addEventListener("click", () => {
                    let search_params = new URLSearchParams(url.search);
                    search_params.set("show_zero_balance", "1")
                    url.search = search_params.toString();
                    window.location = url.toString()
                });
            }
        });

    </script>
</head>

<body>
    <h2 id="narbar">
        <a href="/">Home</a>
        <a href="/viewwallet/{{wallet_id}}/send">Send</a>
        <a href="/viewwallet/{{wallet_id}}/receive">Receive</a>
        <a href="/logout">Logout</a>
    </h2>
    <h2>Wallet Overview</h2>
    <p>Wallet ID: {{wallet.wallet_id}}</p>
    <p>Wallet Label: {{wallet.label}}</p>
    <p>Balance: {{wallet.formatted_balance}}</p>
    <p><button id="show-zero-balance"></button></p>

    <table>
        <tr>
            <th>Address</th>
            <th>Balance</th>
            <th>Derivation Path</th>
        </tr>
    
        {% for address in wallet.addresses: %}
        <tr>
            <td><a href="{{g_explorer}}/address/{{address.bitcoin_address}}" target="_blank">{{address.omitted_bitcoin_address}}</a></td>
            <td>{{address.formatted_value}}</td>
            <td>{{address.derivation_path}}</td>
        </tr>
        {% endfor %}

    </table>
</body>

</html>